extends layout
block content
    script(src='/javascripts/moment.js')
    img.main-img(src='/images/img1.jpg')
    .col-md-8
        each post, i in posts
            .post-div
                h1.post-heading #{post.title}
                p.post-author - #{post.author} 
                p.post-author Posted on: #{post.date}
                p.post-body #{post.body}

    .col-md-4
p please submit your blog posts by logging in and making a new post.
script(src='/javascripts/moment.js')
